    {% extends "Nav_Layout.html" %}

    {% block title %} | Home {% endblock %}
    
{% block body %}

    <section>
      <div class="hero" >
        <div class="container">
           <div class="row2">
            <div>
            <h1>Distinct Free music for your videos</h1>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
              Temporibus obcaecati<br> illum eveniet 
              amet eum maxime odio consectetur architecto, distinctio suscipit?</p>
             <div class="btn">
               <a href="#"><button class="p-btn">Personal</button></a>
              <a href="#"><button class="c-btn">Commercial</button></a>
             </div>
             <p class="days">30 days free Trial. Cancel anytime</p>
           </div>
           <!--CLOUMN TWO FOR IMG-->
           <div  class="cards">
            <div class="card1">
              <i class="fa fa-play" aria-hidden="true"></i>
            </div>
            <div class="card2">
              <i class="fa fa-play" aria-hidden="true"></i>
            </div>
            <div class="card3">
              <i class="fa fa-play" aria-hidden="true"></i>
            </div>
            <div class="card4">
              <i class="fa fa-play" aria-hidden="true"></i>
            </div>
            <div class="card5">
              <i class="fa fa-play" aria-hidden="true"></i>
            </div>
           </div>
           </div>
          </div>
      </div>
     
    </section>
    <!--SECTION TWO OF THE LANDING PAGE-->
    <section>
      <div class="hero2">
        <div class="container">
          <div class="row3">
            <div class="headp">
              <h1>Sound Track Everywhere</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Sed dolorum temporibus beatae<br> eius quasi in voluptatem numquam quis.</p>
            </div>
            <div class="cards-S2">
              <div class="cards-S2-cont1">
              <a href="#">
                <div class="card1-S2">
                <h2>YouTube</h2>
                <p>Forget about claims <i class="fa fa-long-arrow-right" aria-hidden="true"></i></p>
              </div>
              </a>
              <a href="#">
                 <div class="card2-S2">
                <h2>Twitch</h2>
                <p>Epic tracks for your stream  <i class="fa fa-long-arrow-right" aria-hidden="true"></i></p>
               </div>
              </a>
                <a href="#">
                  <div class="card3-S2">
                <h2>Film</h2>
                <p>Soundtrack your world <i class="fa fa-long-arrow-right" aria-hidden="true"></i></p>
              </div>
                </a>
              </div>
              <div class="cards-S2-cont2">
               <a href="#">
                <div class="card4-S2">
                <h2>Facebook</h2>
                <p>Make your stories pop <i class="fa fa-long-arrow-right" aria-hidden="true"></i></p>
              </div>
               </a>
               <a href="#">
                <div class="card5-S2">
                <h2>Instagram</h2>
                <p>Stand out in the feed <i class="fa fa-long-arrow-right" aria-hidden="true"></i></p>
              </div>
               </a>
               <a href="#">
                <div class="card6-S2">
                <h2>Advertisement</h2>
                <p>Amplify your brand <i class="fa fa-long-arrow-right" aria-hidden="true"></i></p>
              </div>
               </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--SECTION 3-->
    <section>
      <div class="hero3">
        <div class="container">
          <div class="row4">
            <div class="img-back"><h1>Ready, Set,<br> Soundtrack</h1></div>
            <div class="contents-3s">
              <div>
                <h1>Try for Free</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                 Sapiente voluptates quo esse, deserunt veniam asperiores 
                 non maiores a nostrum illo enim mollitia dolore corrupti praesentium quasi 
                ea eius autem sit aspernatur, modi aliquam quae. Alias?</p>
               <span><a href="#">Start Free Trail <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></span>
              </div>
            <div>
              <h1>Pick a Subscription</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
              Alias, possimus, reiciendis debitis in voluptatem
               autem adipisci maxime voluptatum deleniti omnis quas illum? Saepe 
              aliquam hic repudiandae possimus eum tempora a.</p>
              <span><a href="#">See Pricing  <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></span>
            </div>
          <div>
          <h1>Connect your channels</h1>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
              Alias, possimus, reiciendis debitis in voluptatem
               autem adipisci maxime voluptatum deleniti omnis quas illum? Saepe 
              aliquam hic repudiandae possimus eum tempora a.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section>
      <div class="hero4">
        <div class="container">
          <div class="row5">
            <div><h1>Pick a Subscription</h1></div>
            <div class="grids">
            <div class="grid1">
             <h3>Personal</h3>
             <p>Your casting content or podcast for your own use</p>
             <h3>US$9/month*</h3>
             <p>* When you pay US$108 upfront for one year. Otherwise US$15 / month.</p>
             <a href="#"><button>Read More</button></a>
            </div>
            <div class="grid2">
              <h3>Personal</h3>
             <p>Your casting content or podcast for your own use</p>
             <h3>US$9/month*</h3>
             <p>* When you pay US$108 upfront for one year. Otherwise US$15 / month.</p>
              <a href="#"><button>Read More</button></a>
            </div>
            <div class="grid3">
              <h3>Personal</h3>
             <p>Your casting content or podcast for your own use</p>
             <h3>US$9/month*</h3>
             <p>* When you pay US$108 upfront for one year. Otherwise US$15 / month.</p>
           <a href="#"><button>Read More</button></a>
            </div>
          </div> 
          </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="hero5">
        <div class="container">
          <div class="row6">
            <div class="grids-S">
              <div class="grids-S1">
                <a href="#"><p class="red">Creative skills</p></a>
                <a href="#"><p class="blue">Deep Focus</p></a>
                <a href="#"><p class="yellow">Uplifting Workout</p></a>
              </div>
              <div class="grids-S2">
                <a href="#"><p class="green">Creative Hull</p></a>
                <a href="#"><p class="black">Crime Podcast</p></a>
               <a href="#"> <p class="wine">Feel good trailers</p></a>
              </div>
              <div class="grids-S3">
                <a href="#"><p class="pink">Cinematic Scores</p></a>
                <a href="#"><p class="redo">Indie Gaming</p></a>
                <a href="#"><p class="red1">kitchen Soundbad</p></a>
              </div>
            </div>
            <div class="grids-content">
              <p>Royalty free music to download or
                 stream - Get unlimited access
                 to over 35,000 tracks & 90,000 sound effects</p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="hero6">
        <div class="container">
          <div class="row7">
            <h1>Never worry about royalty fees again</h1>
            <a href="#">All rights are included </span><i class="fa fa-long-arrow-right" aria-hidden="true"></i></span> </a>
          </div>
        </div>
      </div>
    </section>
  {% endblock %}
