{% extends "Nav_layout.html" %}

{% block title %} | Tracks {% endblock %}

{% block body %}   
<!-- STARTING OF THE PAGES-->
    <section>
      <div class="song">
        <div class="container">
          <div class="rows1">
            <div class="tr-text">
              <h1>Upload Your Songs</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, impedit.</p>
             <a href="#uploads"><button>Upload</button></a>
            </div>
            <div class="tr-text2">
              <h1>Super Songs Here</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor at esse numquam rem, 
                facilis molestiae alias autem excepturi eaque consequatur?</p>
                <button>Listen Now</button>
            </div>
            <div class="tr-text3">
              <h1>Ultimate Music Here</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis voluptatum ratione,
                 iste cum id neque dignissimos possimus quos dicta voluptate.</p>
                 <button>Listen Now</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- PAGE FOR PLAYING SONGS -->
    <section>
      <div class="song2">
        <div class="container">
          <div class="rows2">
              <h1>Super Songs</h1>
            <div class="iframes-music">
              <div>
        <iframe
          class="frame1"
          width="100%"
          height="300"
          scrolling="no"
          frameborder="no"
          allow="autoplay"
          src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1315758190%3Fsecret_token%3Ds-5KgYJKPZzkb&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
        ></iframe>
      </div>
      <!--SECOND SONG-->
      <div>
        <iframe
          class="frame1 frame2"
          width="100%"
          height="300"
          scrolling="no"
          frameborder="no"
          allow="autoplay"
          src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1316308705%3Fsecret_token%3Ds-Bn5EVTrZajv&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
        ></iframe>
      </div>
      <div>
        <iframe
          class="frame1 frame3"
          width="100%"
          height="300"
          scrolling="no"
          frameborder="no"
          allow="autoplay"
          src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1271115118&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
        ></iframe>
      </div>
       <div>
        <iframe
          class="frame1 frame4"
          width="100%"
          height="300"
          scrolling="no"
          frameborder="no"
          allow="autoplay"
          src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1316325757%3Fsecret_token%3Ds-Qhdypztk4sJ&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
        ></iframe>
      </div>
      <div>
        <iframe
          class="frame1 frame5"
          width="100%"
          height="300"
          scrolling="no"
          frameborder="no"
          allow="autoplay"
          src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1229321974&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
        ></iframe>
      </div>
      </div>
      <div class="iframes-music2">
         <div>
            <iframe
              class="frame1"
              width="80%"
              height="166"
              scrolling="no"
              frameborder="no"
              allow="autoplay"
              src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/240786290&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
            ></iframe>
          </div>
          <div>
            <iframe
              class="frame1"
              width="80%"
              height="166"
              scrolling="no"
              frameborder="no"
              allow="autoplay"
              src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/140822175&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
            ></iframe>
          </div>
          <div>
            <iframe
              class="frame1"
              width="80%"
              height="166"
              scrolling="no"
              frameborder="no"
              allow="autoplay"
              src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/98010878&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
            ></iframe>
          </div>
          <div>
            <iframe
              class="frame1"
              width="80%"
              height="166"
              scrolling="no"
              frameborder="no"
              allow="autoplay"
              src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/178410895&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true"
            ></iframe>
          </div>
           <div>
        <iframe
          class="frame1 frame6"
          width="100%"
          height="300"
          scrolling="no"
          frameborder="no"
          allow="autoplay"
          src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/1316320825%3Fsecret_token%3Ds-9AQIPQZmhBT&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"
        ></iframe>
      </div>
      </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="song3">
        <div class="container">
          <div class="rows3">
            <h1>UPLOAD YOUR MUSIC HERE</h1>
            <div class="upload" id="uploads">
              <form action="{{url_for('file_uploaded')}}" method="POST" enctype="multipart/form-data" >
                <input name="files" type="file" placeholder="Upload" required>
                <input name="submit" type="submit" value="Upload"/>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  {% endblock %}
